<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First suite">
        <parameter name="login" value="Denys">
            <test name="First test">
                <classes>
                    <class name="test.java.homeTaskUnitTest2">
                        <methods>
                            <exclude name="Test3"/>
                        </methods>
                    </class>
                </classes>
            </test>
        </parameter>
</suite>
